html,
body {
  font-family: "Times New Roman", serif;
  font-size: 16px;
}

h1 {
  font-size: 1rem;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

h2 {
  font-size: 1rem;
  padding: 4px 0px 0px 0px;
  margin: 0px;
}

h3 {
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 1rem;
  margin-top: 1.5rem;
}



.open {
  font-size: 1rem;
  margin-top: 0rem;
}

.open a {
  text-decoration: underline;
}

.index a {
  text-decoration: underline;
}

i {
  font-style: italic;
}

.envelope {
  text-align: center;
  padding: 0px 0px 10px 0px;
  margin: 0px;
}

/* Header Section */

header {

}

.header {
  display: flex;
  width: 100%;
}

.headerprint {
  display: none;
}

.headerprint img {
  margin: auto;
  height: 80px;
  width: auto;
  padding-bottom: 2px;
}

.wplogo {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2px 2px;
  width: 194px;
}

.wplogo img{
  height: auto;
  width: 150px;
  padding-bottom: 5px;
}

.gplus {
  padding-top: 58px;
  padding-left: 5px;

}

.fbspace {
  flex-grow: 1;
}

.fbshare {
  padding-left: 5px;
  padding-bottom: 3px;
}

.logo {
  text-align: center;
  flex-direction: row;
  padding: 3px 0px;
  justify-content: center;
  flex-grow: 1;
}

.logo img {
  text-align: center;
  justify-content: center;
}

.cart {
  text-align: right;
  flex-direction: row;
  padding: 2px 2px;
  width: 194px;

}

nav {
  width: 100%;
  text-align: center;
  display: flex;
  border-top: solid 1px hsla(60, 100%, 25%, 1);
  border-bottom: solid 1px hsla(60, 100%, 25%, 1);
  justify-content: center;
}

nav span {
  padding: 0px 18px;
}

nav a {
  color: hsla(60, 100%, 25%, 1);
}

nav span:hover,
nav span:active {
  background-color: hsla(60, 100%, 25%, .65);
  color: white;
}

nav a:hover,
nav a:active {
  color: white;
  text-decoration: none;
}

.altheader {
  display: none;

}

.altheader a {
  text-decoration: none;
}

.dropdown {
  font-family: "Times New Roman";
  font-size: 2rem;
  border: hsla(60, 100%, 25%, 1);
  margin: 0px 0px;

}

.caret {

}

.altlogo {
  background-image: url(../images/pensm.png);
  background-repeat: no-repeat;
  background-size: auto;
  height: 45px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.altlogo span {
  align-items: center;
  color: hsla(60, 100%, 25%, 1);
  align-items: center;
}

.altlogo a:hover,
.altlogo a:active {
  text-decoration: none;
}

.Daily {
  font-family: 'Dancing Script', cursive;
  font-size: 2.2rem;
  padding-left: 25px;
  align-items: center;
}

.Grammar {
  font-size: 2.2rem;
  font-family: 'Dancing Script', cursive;
  align-items: center;
}

.shopping {
  flex-grow: 1;
  text-align: right;
  color: rgba(68, 68, 70, 1);
  font-size: 1.5rem;
  margin-top: 12px;
  margin-right: 12px;
  align-items: center;
}

.shopping a {
  color: rgba(68, 68, 70, 1);
}

@media only screen and (max-width: 850px) and (min-width: 701px) {
  .wplogo {
    width: 164px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    display: none;
  }
  nav {
    display: none;
  }
  .altheader {
    display: flex;
    padding-left: 8px;
    border-bottom: 1px solid gray;

  }
}

/* Main Lesson Section */

.lesson {
  width: 100%;
  display: flex;
}

.left {
  flex-grow: 1;
  width: 160px;
}

.ad160 {
  flex-grow: 1;
  text-align: right;
  width: 160px;
}

.ad120 {
  display: none;
  flex-grow: 1;
  width: 120px;
}

.main {
  width: 648px;
  padding: 10px 10px 10px 10px;
}

.answer {
  padding-left: 18px;
  padding-bottom: 0px;
}


.collapse {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}




.btn1 {
  border: lightgray 1px solid;
}

.btn2 {
  border: lightgray 1px solid;
}

.btn3 {
  border: lightgray 1px solid;
}

.btn4 {
  border: lightgray 1px solid;
}

.btn5 {
  border: lightgray 1px solid;
}

.btn6 {
  border: lightgray 1px solid;
}

.btn7 {
  border: lightgray 1px solid;
}

.btn8 {
  border: lightgray 1px solid;
}

.btn9 {
  border: lightgray 1px solid;
}

.btn10 {
  border: lightgray 1px solid;
}

.main a {
  text-decoration: underline;
}

.main em {
  font-style: italic;
}

.terms {
 font-weight: bold;
 color: black;
 font-size: 1.05rem;
 font-style: italic;
}

.terms1 {
 font-weight: bold;
 color: #636363;
 font-size: 1.05rem;
 font-style: italic;
}

 .verbs {
  font-weight: bold;
  color: rgba(172, 17, 17, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.verbs1 {
  font-weight: bold;
  color: rgba(172, 17, 17, 1);
  font-size: 1rem;
  font-style: italic;
}

.nouns {
 font-weight: bold;
 color: rgba(0, 0, 184, 1);
 font-size: 1.05rem;
 font-style: italic;
}

.pronouns {
  font-weight: bold;
  color: rgba(9, 165, 160, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.contraction {
  font-weight: bold;
  color: rgba(17, 120, 172, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.mechanics {
  font-weight: bold;
  color: hsla(60, 100%, 25%, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.mechanics1 {
  font-weight: bold;
  color: hsla(60, 100%, 25%, 1);
  font-size: 1.1rem;
  font-style: italic;
}

.mechanics2 {
  font-weight: bold;
  color: hsla(60, 100%, 25%, 1);
  font-size: 1.1rem;
  font-style: italic;
  padding-left: 2px;
}

.mechanics2S {
  font-weight: bold;
  color: hsla(60, 100%, 25%, 1);
  font-size: 1.1rem;
  padding-left: 2px;
}

.adjectives {
  font-weight: bold;
  color: green;
  font-size: 1.05rem;
  font-style: italic;
}

.adverbs {
  font-weight: bold;
  color: rgba(199, 92, 15, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.prepositions {
  font-weight: bold;
  color: rgba(123, 18, 175, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.prepositions1 {
  font-weight: bold;
  color: rgba(123, 18, 175, .60);
  font-size: 1.05rem;
  font-style: italic;
}

.conjunctions {
  font-weight: bold;
  color: rgba(181, 175, 8, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.interjection {
  font-weight: bold;
  color: #E3007B;
  font-size: 1.05rem;
  font-style: italic;
}


p a {
  text-decoration: underline;
}

.definition {
  position: relative;
  display: inline-block;
  padding: 0px 0px;
  margin: 0px 0px;
  border-bottom: 1px dotted black;
}

.diagram {
  position: relative;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px;
  border-bottom: 1px dotted black;
}

.definition .definitiontext {
    visibility: hidden;
    width: 300px;
    background-color: hsla(60, 100%, 31%, 1);
    color: #fff;
    text-align: left;
    padding: 5px 0;
    padding-left: 8px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    z-index: 1;
}

.definition .definitionterm {
    visibility: hidden;
    background-color: hsla(60, 100%, 31%, .90);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    z-index: 1;
    font-size: .85rem;
}

.definition .definitionpronoun {
    visibility: hidden;
    background-color: rgba(9, 165, 160, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    z-index: 1;
    font-size: .85rem;
}

.definition .definitionadj {
    visibility: hidden;
    background-color: green;
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -27.5px;
    position: absolute;
    z-index: 1;
    font-size: .85rem;
}

.definition .definitionconj {
    visibility: hidden;
    background-color: rgba(181, 175, 8, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -21px;
    position: absolute;
    z-index: 1;
    font-size: .85rem;
}

.definition .definitionconj1 {
    visibility: visible;
    background-color: rgba(181, 175, 8, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    z-index: 1;
    font-size: .85rem;
    width: 70px;
}

.diagram .diagraminterj {
    visibility: visible;
    background-color: #E3007B;
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -14px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;
}

.diagram .diagrampron {
    visibility: visible;
    background-color: rgba(9, 165, 160, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;
}

.diagram .diagramv {
    visibility: visible;
    background-color: rgba(172, 17, 17, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;
}

.diagram .diagramadj {
    visibility: visible;
    background-color: green;
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -11.5px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;
}

.diagram .diagramadv {
    visibility: visible;
    background-color: rgba(199, 92, 15, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -11.5px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;
}

.diagram .diagramN {
    visibility: visible;
    background-color: rgba(0, 0, 184, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;

}

.diagram .diagramconj {
    visibility: visible;
    background-color: rgba(181, 175, 8, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -13.5px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;

}

.diagram .diagramprep {
    visibility: visible;
    background-color: rgba(123, 18, 175, 1);
    color: #fff;
    text-align: center;
    padding: .5px 3px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -13.5px;
    position: absolute;
    z-index: 1;
    font-size: .65rem;

}

.space {
  display: none;
}

.definition .definitiontext a {
  color: white;
}

.definition:active .definitiontext {
  visibility: visible;
}

.definition:hover .definitiontext {
    visibility: visible;
}

.definition:active .definitionterm {
  visibility: visible;
}

.definition:hover .definitionterm {
    visibility: visible;
}

.definition:active .definitionpronoun {
  visibility: visible;
}

.definition:hover .definitionpronoun {
    visibility: visible;
}

.definition:active .definitionadj {
  visibility: visible;
}

.definition:hover .definitionadj {
    visibility: visible;
}

.definition:active .definitionconj {
  visibility: visible;
}

.definition:hover .definitionconj {
    visibility: visible;
}



.ad468 {
  display: none;
}

.ad320 {
  display: none;
}

@media only screen and (max-width: 925px) and (min-width: 701px) {
  .ad160 {
    display: none;
    }
  .ad120 {
    display: block;
    text-align: right;
    width: 120px;
  }
  .left {
    display: none;
  }
  .main {
    padding: 10px 10px 10px 20px;
    flex-grow: 1;
  }
  .definition .definitiontext {
      margin-left: -70px;

  }

}

@media only screen and (max-width: 700px) and (min-width: 468px) {
  .ad160 {
    display: none;
    }
  .ad120 {
    display: none;
  }
  .left {
    display: none;
  }
  .main {
    padding: 10px 10px 10px 15px;
  }
  .ad468 {
    display: flex;
    justify-content: center;
    border-bottom: lightgray 1px solid;
  }
  .definition .definitiontext {
      margin-left: -70px;
      width: 170px;
  }


}

@media only screen and (max-width: 467px) {
  .ad160 {
    display: none;
    }
  .ad120 {
    display: none;
  }
  .left {
    display: none;
  }
  .main {
    padding: 10px 10px 10px 10px;
  }
  .ad468 {
    display: none;
    }
  .ad320 {
    display: flex;
    justify-content: center;
    border-bottom: lightgray 1px solid;
  }
  .definition .definitiontext {
      margin-left: -70px;
      width: 170px;
  }

}

@media only screen and (max-width: 575px) {
  .space {
    display: flex;
  }
  .definition .definitionconj1 {
      visibility: hidden;
  }
  .definition:active .definitionconj1 {
    visibility: visible;
  }

  .definition:hover .definitionconj1 {
      visibility: visible;
  }

  
}

/* Footer Section */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer1 {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  width: 728px;
  display: flex;
  align-items: center;
}

.copyright {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .85rem;
}

.copyrightalt {
  display: none;
}

.symbol700 {
  display: none;
}

.symbol {
  display: none;
}

.footfbshare {
  padding-left: 10px;
  align-items: center;
}

.footgplus {
  padding-top: 8px;
}

.prev {
  text-align: left;
  width: 120px;
  align-content: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.next {
  text-align: right;
  width: 120px;
  align-content: center;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.next a {
  text-decoration: underline;
}

.prev a {
  text-decoration: underline;
}

.ad728 {
  text-align: center;
  border-bottom: lightgray 1px solid;
}

.ad468f {
  display: none;
}

.ad320f {
  display: none;
}


@media only screen and (max-width: 728px) and (min-width: 701px) {
  .ad728 {
    display: none;
  }
  .ad468f {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: lightgray 1px solid;
    width: 100%;
  }
  .ad320f {
    display: none;
  }
  .symbol700 {
    display: none;
  }
  .symbol {
    display: none;
  }
  .copyrightalt {
    display: none;
  }

}

@media only screen and (max-width: 700px) and (min-width: 468px) {
  .ad728 {
    display: none;
  }
  .ad468f {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: lightgray 1px solid;
    width: 100%;
  }
  .ad320f {
    display: none;
  }
  .footer {
    margin-top: 10px;
  }
  .copyright {
    display: none;
  }
  .symbol700 {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .copyrightalt {
    display: flex;
    padding-left: 5px;
    font-size: 0.6rem;
    padding-top: 5px;
    color: gray;
  }
  .prev {
    width: 40%;
  }
  .next {
    width: 40%;
  }
}

@media only screen and (max-width: 467px) {
  .ad728 {
    display: none;
  }
  .ad468f {
    display: none;
  }
  .ad320f {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: lightgray 1px solid;
    width: 100%;
  }
  .footer {
    margin-top: 10px;
  }
  .copyright {
    display: none;
  }
  .copyrightalt {
    display: flex;
    padding-left: 5px;
    font-size: 0.6rem;
    padding-top: 5px;
    color: gray;
  }
  .prev {
    width: 40%;
  }
  .next {
    width: 40%;
  }
  .symbol700 {
    display: none;
  }
  .symbol {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media print {
 /* All your print styles go here */
    .header, nav, .left, .ad160, .ad120, .prev, .next, .ad728, .ad468f {
      display: none;
    }
    .headerprint {
      display: flex;
      width: 648px;
      margin: auto;
      border-bottom: solid 1px hsla(60, 100%, 25%, 1);
    }
    .main {
      margin: auto;
    }
    .definition .definitionterm {
      visibility: visible;
      background-color: lightgray;
    }
    .definition .definitionadj {
      visibility: visible;
      background-color: lightgray;
      padding: 0px 0px;
      font-size: .8rem;
      margin-left: -22.5px;
    }
    .definition .definitionpronoun {
      visibility: visible;
      background-color: lightgray;
      padding: 0px 0px;
      font-size: .8rem;
      margin-left: -22.5px;
    }

    .definition .definitionconj {
      visibility: visible;
      background-color: lightgray;
      padding: 0px 0px;
      font-size: .8rem;
      margin-left: -17px;
    }

}
