html,
body {
  font-family: "Times New Roman", serif;
  font-size: 16px;
}

h1 {
  font-size: 1rem;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 1rem;
  margin-top: 1.5rem;
}

/* Header Section */

header {

}

.header {
  display: flex;
  width: 100%;
}

.wplogo {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2px 2px;
  width: 194px;
}

.wplogo img{
  height: auto;
  width: 150px;
  padding-bottom: 5px;
}

.wplogo span {
  padding-top: 85px;
  padding-left: 5px;
}

.logo {
  text-align: center;
  flex-direction: row;
  padding: 3px 0px;
  justify-content: center;
  flex-grow: 1;
}

.logo img {
  text-align: center;
  justify-content: center;
}

.cart {
  text-align: right;
  flex-direction: row;
  padding: 2px 2px;
  width: 194px;
}

nav {
  width: 100%;
  text-align: center;
  display: flex;
  border-top: solid 1px hsla(60, 100%, 25%, 1);
  border-bottom: solid 1px hsla(60, 100%, 25%, 1);
  justify-content: center;
}

nav span {
  padding: 0px 18px;
}

nav a {
  color: hsla(60, 100%, 25%, 1);
}

nav span:hover,
nav span:active {
  background-color: hsla(60, 100%, 25%, .65);
  color: white;
}

nav a:hover,
nav a:active {
  color: white;
  text-decoration: none;
}

.altheader {
  display: none;

}

.dropdown {
  font-family: "Times New Roman";
  font-size: 2rem;
  border: hsla(60, 100%, 25%, 1);
  margin: 0px 0px;

}

.caret {

}

.altlogo {
  background-image: url(../images/pensm.png);
  background-repeat: no-repeat;
  background-size: auto;
  height: 45px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.altlogo span {
  align-items: center;
  color: hsla(60, 100%, 25%, 1);
  align-items: center;
}

.altlogo a:hover,
.altlogo a:active {
  text-decoration: none;
}

.Daily {
  font-family: 'Dancing Script', cursive;
  font-size: 2.2rem;
  padding-left: 25px;
  align-items: center;
}

.Grammar {
  font-size: 2.2rem;
  font-family: 'Dancing Script', cursive;
  align-items: center;
}

.shopping {
  flex-grow: 1;
  text-align: right;
  color: rgba(68, 68, 70, 1);
  font-size: 1.5rem;
  margin-top: 12px;
  margin-right: 12px;
  align-items: center;
}

.shopping a {
  color: rgba(68, 68, 70, 1);
}

@media only screen and (max-width: 850px) and (min-width: 701px) {
  .wplogo {
    width: 164px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    display: none;
  }
  nav {
    display: none;
  }
  .altheader {
    display: flex;
    padding-left: 8px;
    border-bottom: 1px solid gray;
  }
}

/* Main Lesson Section */

.lesson {
  width: 100%;
  display: flex;
}

.left {
  flex-grow: 1;
  width: 160px;
}

.ad160 {
  flex-grow: 1;
  text-align: right;
  width: 160px;
}

.ad120 {
  display: none;
  flex-grow: 1;
  width: 120px;
}

.main {
  width: 648px;
  padding: 10px 10px 10px 10px;
}

.answer {
  padding-left: 18px;
}

.collapse {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.btn1 {
  border: lightgray 1px solid;
}

.btn2 {
  border: lightgray 1px solid;
}

.btn3 {
  border: lightgray 1px solid;
}

.collapse em {
  font-weight: bold;
  color: rgba(172, 17, 17, 1);
  font-size: 1.05rem;
  font-style: italic;
}

.ad463 {
  display: none;
}

.ad320 {
  display: none;
}

@media only screen and (max-width: 925px) and (min-width: 701px) {
  .ad160 {
    display: none;
    }
  .ad120 {
    display: block;
  }
  .left {
    display: none;
  }
  .main {
    padding: 10px 10px 10px 20px;
  }
}

@media only screen and (max-width: 701px) and (min-width: 463px) {
  .ad160 {
    display: none;
    }
  .ad120 {
    display: none;
  }
  .left {
    display: none;
  }
  .main {
    padding: 10px 10px 10px 10px;
  }
  .ad463 {
    display: flex;
    justify-content: center;
    border-bottom: lightgray 1px solid;
  }
}

@media only screen and (max-width: 462px) {
  .ad160 {
    display: none;
    }
  .ad120 {
    display: none;
  }
  .left {
    display: none;
  }
  .main {
    padding: 10px 10px 10px 10px;
  }
  .ad463 {
    display: none;
    }
  .ad320 {
    display: flex;
    justify-content: center;
    border-bottom: lightgray 1px solid;
  }
}
